* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  height: 100%;
}

body {
  font-family: Roboto, "Helvetica Neue", sans-serif;
  font-weight: 400;
  line-height: 1.6;
  color: var(--color-text-normal);
  background-color: var(--common-background);
  padding: var(--spacing-sm);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: var(--color-primary-dark);
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}
