@mixin respond-to($breakpoint) {
  @if $breakpoint == "medium" {
    @media (min-width: 768px) {
      @content;
    }
  } @else if $breakpoint == "large" {
    @media (min-width: 955px) {
      @content;
    }
  } @else if $breakpoint == "extra-large" {
    @media (min-width: 1200px) {
      @content;
    }
  }
}

@mixin table-view($padding) {
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding: 10px;

  @include respond-to("large") {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(8em, 1fr));
    padding: $padding;
  }
}

@mixin label {
  font-size: 14px;
  font-weight: 600;
  color: var(--color-title);
}

@mixin separator {
  position: relative;

  &::after {
    content: "";
    position: absolute;
    top: 0;
    right: -25px;
    width: 2px;
    height: 100%;
    background-color: var(--color-separator);
  }
}
