:root {
  --color-primary-dark: #001c3b;
  --color-accent: #90cdf9;

  --color-title: #606061;
  --color-text-normal: #3e3e3e;

  --color-border: #e1e1e1;

  /* Status colors */
  --color-status-in-progress: #3fa9f5;
  --color-status-pending: #fbb03b;
  --color-status-completed: #7ac943;

  --common-background: #f4f6f9;
  --color-separator: #f5f5f5;

  --spacing-sm: 8px;

  --border-radius: 4px;
}
