:root {
  --color-primary-dark: #001c3b;
  --color-primary-light: #1b3450;
  --color-accent: #90cdf9;
  --color-placeholder: #000000;
  --color-text-normal: #3e3e3e;
  --color-text-bold: #555555;
  --color-table-header: #6c6c6d;
  --color-input-border: #dcdcdc;
  --color-input-label: #69798c;
  --color-text-disabled: #999999;

  /* Status colors */
  --color-status-in-progress: #3fa9f5;
  --color-status-pending: #fbb03b;
  --color-status-completed: #7ac943;
}
