<div class="date-range-picker">
  <mat-label>From</mat-label>
  <input
    matInput
    [matDatepicker]="fromPicker"
    (dateChange)="onFromDateChange($event.value)"
    [value]="from"
  />
  <mat-datepicker-toggle matSuffix [for]="fromPicker"></mat-datepicker-toggle>
  <mat-datepicker #fromPicker></mat-datepicker>

  <mat-label>To</mat-label>
  <input
    matInput
    [matDatepicker]="toPicker"
    (dateChange)="onToDateChange($event.value)"
    [value]="to"
  />
  <mat-datepicker-toggle matSuffix [for]="toPicker"></mat-datepicker-toggle>
  <mat-datepicker #toPicker></mat-datepicker>
</div>
