<div class="date-range-picker">
  <div class="date-range-picker__wrapper">
    <label>From</label>
    <div class="date-range-picker__picker">
      <input
        class="date-range-picker__input"
        readonly
        matInput
        [matDatepicker]="fromPicker"
        (dateChange)="onFromDateChange($event.value)"
        [value]="from"
      />
      <mat-datepicker-toggle
        matSuffix
        [for]="fromPicker"
      ></mat-datepicker-toggle>
      <mat-datepicker #fromPicker></mat-datepicker>
    </div>
  </div>

  <div class="date-range-picker__wrapper">
    <label>To</label>
    <div class="date-range-picker__picker">
      <input
        class="date-range-picker__input"
        readonly
        matInput
        [matDatepicker]="toPicker"
        (dateChange)="onToDateChange($event.value)"
        [value]="to"
      />
      <mat-datepicker-toggle matSuffix [for]="toPicker"></mat-datepicker-toggle>
      <mat-datepicker #toPicker></mat-datepicker>
    </div>
  </div>
</div>
