<form [formGroup]="formGroup">
  <label>
    <div formArrayName="statuses">
      <mat-checkbox
        color="accent"
        [formControl]="formGroup.controls.statuses.controls.pending"
      >
        Pending
      </mat-checkbox>
      <mat-checkbox
        color="accent"
        [formControl]="formGroup.controls.statuses.controls.inProgress"
      >
        In Progress
      </mat-checkbox>
      <mat-checkbox
        color="accent"
        [formControl]="formGroup.controls.statuses.controls.completed"
      >
        Completed
      </mat-checkbox>
    </div>
  </label>
  <label>
    <select [formControl]="formGroup.controls.productLine">
      <option *ngFor="let option of productLineOptions" [value]="option">
        {{ option }}
      </option>
    </select>
  </label>
  <app-date-range-picker
    [formControl]="formGroup.controls.dateRange"
  ></app-date-range-picker>
</form>
