<form [formGroup]="formGroup">
  <label> Status </label>
  <form [formGroup]="formGroup.controls.statuses">
    <mat-checkbox
      color="accent"
      [formControl]="formGroup.controls.statuses.controls.pending"
    >
      Pending
    </mat-checkbox>
    <mat-checkbox
      color="accent"
      [formControl]="formGroup.controls.statuses.controls.inProgress"
    >
      In Progress
    </mat-checkbox>
    <mat-checkbox
      color="accent"
      [formControl]="formGroup.controls.statuses.controls.completed"
    >
      Completed
    </mat-checkbox>
  </form>
  <label for="productLine">Product Line</label>
  <select name="productLine" [formControl]="formGroup.controls.productLine">
    <option></option>
    <option *ngFor="let option of productLineOptions" [value]="option">
      {{ option }}
    </option>
  </select>

  <app-date-range-picker
    [formControl]="formGroup.controls.dateRange"
  ></app-date-range-picker>
</form>
