@import "mixins.scss";

.order-table {
  display: grid;
  grid-template-columns: auto 1fr;

  @include respond-to("large") {
    display: flex;
    flex-direction: column;
  }
}

.order-table__titles {
  @include table-view(0 20px 10px 20px);
  max-width: 140px;

  color: var(--color-title);
  font-weight: 600;

  span {
    text-wrap: wrap;
  }

  @include respond-to("large") {
    max-width: 100%;
  }
}

.order-table__rows {
  display: flex;
  gap: 10px;

  overflow: auto;

  &::-webkit-scrollbar {
    width: 12px;
    height: 12px;
  }

  &::-webkit-scrollbar-track {
    background: #f1f1f1;
    border-radius: 10px;
  }

  &::-webkit-scrollbar-thumb {
    background: #888;
    border-radius: 10px;
    border: 3px solid #f1f1f1;
  }

  &::-webkit-scrollbar-thumb:hover {
    background: #555;
  }

  @include respond-to("large") {
    flex-direction: column;
    padding: 5px 0;
  }
}
