@import "../../styles/mixins.scss";

.order-history__filter-panel {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 20px;
  margin-bottom: 50px;

  background-color: white;
  border-radius: var(--border-radius);
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);

  @include respond-to("large") {
    flex-direction: row;
  }
}

.order-history__search {
  margin: auto 0;
}
